.photo:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: span 2;
}

.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}


.photo > div {
  grid-area: 1/1;
}

.photo .views {
  grid-area: 1/1;
  background-color: rgb(0 0 0 / 0.5);
  color: white;
  font-size: 1rem;
  display: none;
  align-items: center;
  justify-content: center;
}

.views::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.25rem;
  background: url('../../img/visualizacao.svg') no-repeat;
}

.photo:hover .views {
  display: flex;
}

@media (max-width: 40rem) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}