@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
}

::root {
  --type-fisrt-family: Helvetica, Arial, sans-serif;
  --type-second-family: 'Spectral', georgia;

}

body {
  color: #333;
  padding-top: 4rem;
}

h1, h2, h3, p, a {
  color: #333;
}

ul, li {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-fisrt-family);
  color: #333;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-size: var(--type-second-family);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #fb1;

  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: .2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}